
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.visible {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.image-section {
    /*max-height: 100%;
    aspect-ratio: 3 / 2;*/
    /*min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;*/
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Ensures aspect ratio is maintained */
}

.logo-section img {
    /*max-width: 100%;
    max-height: 100%;*/
    width: auto;
    height: 90%;
    object-fit: contain; /* Ensures aspect ratio is maintained */
}


.league-container
{
    display: flex;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;      /* Allow items to wrap into rows */
    gap: 10px;            /* Optional: Adds space between items */
    justify-content: flex-start;

    width: 100%;
    height: auto;

    margin: 10px;
}


.league-button
{
    background-color: #3a3a3c;
    color: white;

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    margin: 10px;
    min-width: 200px;
    height: 75px;
}

.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #ffffff;
}

.health-bar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.heart
{
    color: rgb(255, 0, 0);
    margin: 5px 5px;

}


.play-again-button
{
    display: flex;
    /*color: white;
    background-color: rgba(0, 0, 0, 0.25);*/
    border-radius: 15px;
    min-width: 100px;
    min-height: 50px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.play-again-button:hover
{
    /*background-color: rgba(0, 0, 0, 0.35);*/
}

.return-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

    border-radius: 8px;
    min-height: 40px;
    user-select: none;
}

.return-button:hover
{
}

.interactable
{
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px white solid;
}

.interactable:hover
{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
}




.health-exit-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
    width: 100%;
    padding: 10px 10px;
}

/* The container for centering the image */
.logo-section {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A wrapper around the image for positioning the overlay */
.img-wrapper {
    position: relative; /* Establish positioning context */
    display: inline-block;

    width: auto;
    height: 90%;
    object-fit: contain;
}

/* Ensure the image keeps its natural aspect ratio */
.img-wrapper img {
    display: block;
    /*max-width: 100%;*/
    /*height: auto;*/

    width: auto;
    height: 90%;
    object-fit: contain;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    filter: blur(10px) drop-shadow(0px 0px 0px transparent);
    --start-blur: 0px;
    --mid-blur: 0px;
    --end-blur: 0px;
}


/* Keyframes to grow and then shrink the overlay */
@keyframes shadowFade {
    0% {
        filter: drop-shadow(0px 0px 0px transparent) blur(var(--start-blur, 0px)); /* Initial blur */
    }
    50% {
        filter: drop-shadow(0px 0px 50px red) blur(var(--mid-blur, 20px)); /* Mid animation blur */
    }
    100% {
        filter: drop-shadow(0px 0px 0px transparent) blur(var(--end-blur, 0px)); /* Final blur */
    }
}

.search-bar-section
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

.play-again-section
{
    width: 100%;
    padding: 10px;
    display: flex;

    justify-content: center;
    align-items: end;
}

.logo-game-section
{
    min-width: 100%;
    max-height: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-rows: 7% 1fr 35% 1%;
}

body
{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1120px 1fr;
    height: 100%; /* Full-height page */
    overflow: hidden;
}

.SelectLeague-section
{
    grid-column: 2;
}

.grid-column-2
{
    grid-column: 2;
}

@media screen and (max-width: 1120px) {

    .league-container
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 10px;
        justify-content: flex-start;

        width: auto;
        height: 100%;

        padding: 10px;
    }


    .league-button
    {
        background-color: #3a3a3c;
        color: white;

        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        margin: 10px;
        min-width: 80vw;
        height: 150px;

        font-size: 2rem;
    }

    body
    {
        margin: 0;
        display: grid;
        grid-template-columns: 0 1fr 0;
        height: 100%; /* Full-height page */
        overflow: hidden;
    }

    .SelectLeague-section
    {
        /*grid-column: 2;*/
    }

    .logo-section img {
        max-width: 100%;
        max-height: 100%;
        width: 90%;
        height: auto;
        object-fit: contain; /* Ensures aspect ratio is maintained */
    }

    .search-bar-section
    {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }

    .logo-game-section
    {
        min-width: 100%;
        max-height: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        display: grid;
        grid-template-rows: 7% 50% 1fr 1%;
    }

}

/* Width > Height */
@media (aspect-ratio > 1)
{
    .popup
    {
        width: 50vh;
        height: 50vh;
        background-color: white;
    }
}

/* Height > Width */
@media (aspect-ratio <= 1)
{
    .popup
    {
        width: 80vw;
        height: 80vw;
        background-color: white;
    }
}

.popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.popup-fullpage {
    display: flex;
    position: fixed; /* Stay fixed relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it's on top of everything */
    justify-content: center;
    align-items: center;
}

.z-index-9999
{
    z-index: 9999;
}
.z-index-5000
{
    z-index: 5000;
}

.z-index-1000
{
    z-index: 1000;
}